@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@font-face {
  font-family: "Scrappy";
  src: url('../fonts/Scrappy.ttf') format('truetype');
}

@font-face {
  font-family: "Bigboy";
  src: url('../fonts/Bigboy.ttf') format('truetype');
}

:where(.css-dev-only-do-not-override-acm2ia).ant-typography,
:where(.css-dev-only-do-not-override-acm2ia)[class^="ant-typography"],
:where(.css-dev-only-do-not-override-acm2ia)[class*=" ant-typography"],
:where(.css-dev-only-do-not-override-acm2ia).ant-layout,
:where(.css-dev-only-do-not-override-acm2ia).ant-layout * {
  font-family: 'Scrappy', 'Patrick Hand';
  color: unset;
  word-break: unset;
  line-height: unset;
  font-size: unset;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:not(svg) {
  /* font-family: 'Patrick Hand'; */
  font-family: 'Scrappy', 'Patrick Hand';
  font-size: 20px;
  font-weight: 600;
  /* letter spacing */
  letter-spacing: -0.02em;
}

.ant-btn:not(.ant-btn-sm):not(.no-font-fix-button-weirdness) {
  height: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 30px !important;
  align-items: center;
}

.ant-btn-sm:not(.no-font-fix-button-weirdness), .ant-select-item-option-content {
  height: 26px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 24px !important;
  align-items: center;
}

.ant-select-arrow, .ant-select-clear {
  height: 20px !important;
  margin-top: -10px !important;
}

.notification::after {
  position: absolute;
  content: '';
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background: #d90436;
  border-radius: 50%;
  animation: notification-animation ease-in-out 2s infinite;
}

.hoverGreen:hover {
  color: #07bb16;
}

.hoverRed:hover {
  color: #d90436;
}

@keyframes notification-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}