.ant-progress {
  display: block;
  width: calc(100% - 10px);
}

.ant-progress-inner {
  border: 1px solid black;
  display: block;
}

.ant-progress-small.ant-progress-line {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ant-progress-show-info .ant-progress-outer {
  margin-right: initial;
  padding-right: initial;
  flex-grow: 1;
  width: initial;
  margin-right: 10px;
}

.ant-progress-text {
  text-align: right;
  width: initial;
}