@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Patrick+Hand&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*:not(svg) {
  font-family: 'Patrick Hand';
  font-size: 20px;
}

.ant-btn:not(.ant-btn-sm):not(.no-font-fix-button-weirdness) {
  height: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 30px !important;
  align-items: center;
}

.ant-btn-sm:not(.no-font-fix-button-weirdness), .ant-select-item-option-content {
  height: 26px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 24px !important;
  align-items: center;
}